RelatedWork.tex
SystemModel.tex
abstract.tex
anon.bib
auth.bib
blockchain.bib
conclusions.tex
contents.tex
crypto.bib
ecurrency.bib
intro.tex
location.bib
preamble.tex
primitives.tex
properties.tex
protests.bib
protocol.tex
reputation.bib
security.tex
slides-full.pdf
slides-short.pdf
tposet.tikz
voting.bib
Jacobs-method.jpg
preamble-slides.tex
proofshare.tikz
bibsp.sty
