anon.bib
auth.bib
blockchain.bib
crypto.bib
ecurrency.bib
location.bib
protests.bib
sybil.bib
slides-short.pdf
tposet.tikz
voting.bib
Jacobs-method.jpg
proofshare.tikz
bibsp.sty

ProtestVerif-UN.png
ProtestVerif-endprotest.png
ProtestVerif-join.png
ProtestVerif-participating.png
ProtestVerif-verified.png
ProtestVerif-verifying.png
trump.jpg
map-with-dots.png

preamble.tex
revision.tex
