base-adversary.tikz

Jacobs-method.jpg
anon.bib
auth.bib
blockchain.bib
crypto.bib
ecurrency.bib
location.bib
main.pdf
paper.pdf
proofshare.tikz
proofshare-trusted.tikz
protests.bib
sybil.bib
tposet.tikz
voting.bib
bibsp.sty
osn.bib
adhocnets.bib

by-nc-nd.pdf
sciendo-logo.pdf
dgruyter_NEW.sty
popets/
