base-identity-cause-adversary.tikz
base-identity-location-adversary.tikz

Jacobs-method.jpg
anon.bib
auth.bib
blockchain.bib
crypto.bib
ecurrency.bib
location.bib
paper.pdf
proofshare.tikz
protests.bib
reputation.bib
tposet.tikz
voting.bib
bibsp.sty
osn.bib
adhocnets.bib

by-nc-nd.pdf
dg-degruyter.pdf
dgruyter_NEW.sty
popets/
